!!!
html(lang='en')
  head
    include includes/head

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') {%= name %}
          ul.nav
            li.active
              a(href="/") Home
            li
              a(href="/about") About

    block content

    block footer
      .container
        footer.page-footer
          p &copy; {%= grunt.template.today('yyyy') %} {%= author_name %}
          p = version


    block scripts
      script(src='/components/jquery/jquery.min.js')
      script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
      script(src='/js/site.js')